@font-face {
    font-family: "poppins-medium";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Poppins-Medium.ttf") format("ttf"), url("../fonts/Poppins-Medium.woff") format("woff");
}

@font-face {
    font-family: "poppins-medium-italic";
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/Poppins-MediumItalic.ttf") format("ttf"), url("../fonts/Poppins-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: "poppins-bold";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Poppins-Bold.ttf") format("ttf"), url("../fonts/Poppins-Bold.woff") format("woff");
}

@font-face {
    font-family: "poppins-bold-italic";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Poppins-BoldItalic.ttf") format("ttf"), url("../fonts/Poppins-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "poppins-medium";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Poppins-Medium.ttf") format("ttf"), url("../fonts/Poppins-Medium.woff") format("woff");
}

@font-face {
    font-family: "poppins-medium-italic";
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/Poppins-MediumItalic.ttf") format("ttf"), url("../fonts/Poppins-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: "poppins-bold";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Poppins-Bold.ttf") format("ttf"), url("../fonts/Poppins-Bold.woff") format("woff");
}

@font-face {
    font-family: "poppins-bold-italic";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Poppins-BoldItalic.ttf") format("ttf"), url("../fonts/Poppins-BoldItalic.woff") format("woff");
}