//Colors
$white: #fff;
$black:#000;
$tono-cyan: #2acfcf;
$tono-cyan-hover:#2ae5f5;
$tono-muy-oscuro-azul-magenta: #232127;
$tono-oscuro-azul-magenta: #35323e;
$tono-oscuro-medio-azul-magenta:#3b3054;
$tono-claro-medio-azul-magenta: #9e9aa7;
$tono-azul-muy-claro:#f0f1f6;
// Fonts
$f-regular: 'poppins-regular';
$f-italic: 'poppins-italic';
$f-medium: 'poppins-medium';
$f-medium-italic: 'poppins-medium-italic';
$f-bold: 'poppins-bold';
$f-bold-italic: 'poppins-bold-italic';